.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
    width: 100%;
}

.video-container iframe {
    border-bottom: 0.25rem solid #fc0;
    border-radius: 0.25rem 0.25rem 0 0;
    height: 50vw;
    width: 100%;
}